
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    overflow: hidden;
    .importantLinks{
        height: 40px;
        width: 100%;
        background-color: rgb(77, 3, 0);
        position: relative;
        .links{
         cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 5px;
          color: #fff;
          i{
             font-size: 15px;
             margin: 0 5px;
             transition: .3s;
             &:hover{
                 margin-left: 10px;
             }
          }
        }
        .search{
            z-index: 100;
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            transform: translateX(-100%);
            transition: transform .3s;
            .input,.btn{
                padding: 5px;
                border-radius: 0;
                border: none;
            }
            .btn{
                cursor: pointer;
            }
        }
        .search.show{
            transform: translateX(0%);
        }
        .event{
            .image{
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 2%;
                height: 100%;
                z-index: 50;
                img{
                   height: 60px;
                   width: 60px;
                   border-radius: 50%;
                }
            }
        }
    }
    .slider{
        height: 30vh;
        width: 100%;
        z-index: 1;
        position: relative;
        .slickItem{
            height: 100%;
            width: 100%;
            img{
                z-index: 1;
                height: 30vh;
                width: 100%;
            }
            .text{
                display: block;
                position: absolute;
                width: 230px;
                color: #fff;
                top: 160px;
                left: 16px;
                background-color: black;
                opacity: 0.5;
                padding: 3px 10px;
                h2{
                    color: #fff;
                    font-size: 16px;
                }
                .reds{
                    height: 3px;
                    background-color: rgb(97, 11, 0);
                    width: 150px;
                    margin: 5px 0;
                }
                p{
                    display: none;
                }
            }
        }
        .slickItem.slick-active .text{
            animation: fadeInUp ease 2s;
            opacity: 0.8 !important;
        }

        .slick-prev, .slick-next {
            display: none !important;
        }        
        .prev,.next {
            position: absolute;
            cursor: pointer;
            top: 45%;
            z-index: 3;
            font-size: 15px;
            height: 20px;
            width: 20px;
            background-color: rgb(0, 0, 0);
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                color: white;
            }
        }

        .prev{
            left: 0%;
        }
        .next{
            right: 0%;
        }

        &::after{
            content: "";
           position: absolute;
           height: 100%;
           width: 100%;
           background-color: black;
           opacity: 0.3;
           top: 0;
           left: 0;
           bottom: 0;right: 0;
        }
    }
}

.sticky{
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100 !important;
    .containers{
        .holder{
            height: 70px;
            position: relative;
            background-color: rgb(173, 15, 15);
            .image{
                position: absolute;
                left: 0;
                top:0px;
                bottom: 0;
                height: 100%;
                width: 70px;
                z-index: 100 !important;
                img{
                    height: 100%;
                    width: 70px;
                    display: block;
                } 
            }
            .heighlight{
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 28px 0 75px;
                position: relative;
                .role{
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    //background-color: white;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        color: rgb(255, 255, 255);
                    }
                }
            }
            .header{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                .text{
                    flex: 0 0 80%;
                    max-width: 80%;
                    text-align: center;
                    padding-left: 22%;
                    h2{
                        display: none;
                        font-size: 15px;
                        font-weight: bold;
                    }
                }
                .toggles{
                    flex: 0 0 10%;
                    max-width: 10%;
                    height: 35px;
                    width: 35px;
                    border-radius: 3px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    transition: all 650ms;
                    //margin-left: 50px;
                    .line,
                    .line:before,
                    .line:after{
                        height: 3px;
                        width: 25px;
                        border-radius: 20px;
                        transition: .5s;
                        position: relative;
                        background-color: rgb(255, 255, 255);
                    }
                    .line:before{
                        content: "";
                        position: absolute;
                        transform: translateY(-7px);
                    }
                    
                    .line:after{
                        content: "";
                        right: 0;
                        position: absolute;
                        transform: translateY(7px);
                    }
                    
                    .line.active{
                        transform: translateX(-30px);
                        background-color: transparent;
                        box-shadow: unset;
                    }
                    
                    .line.active:before{
                        transform: rotate(45deg) translate(22px, -22px);
                    }
                    .line.active:after{
                        transform: rotate(-45deg) translate(22px, 22px);
                    }
                }
            }
            .navigation{
                position: absolute;
                top: 100%;
                width: 100%;
                left: 0;
                right: 0;
                //transform: translateY(20px);
                //opacity: 0;
                transition: display .3s;
                pointer-events: painted;
                z-index: 500;
                display: block;
                .nav{
                    cursor: pointer;
                    //background-color: rgb(48, 48, 48);
                    color: rgb(255, 0, 0);
                    .start{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        transition: .75s;
                        .links{
                            flex: initial;
                            width: 100%;
                            .nav-ul{
                                flex-direction: column;
                                .nav-links{
                                    width: 100%;
                                    background-color: #031926;
                                    border-bottom: 1px solid #fff;
                                    transition: .3s;
                                    z-index: 500 !important;
                                    pointer-events:painted !important;
                                    a{
                                        padding:7px 10px;
                                        letter-spacing: 1px;
                                        font-size: 17px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        transition: .5s;
                                        position: relative;
                                        z-index: 500 !important;
                                        pointer-events:painted !important;
                                        span{
                                            color: #fff;
                                            &:hover{
                                                color: chartreuse;
                                            }
                                        }
                                        i{
                                            position: absolute;
                                            color: #032b43;
                                            right: 12px;
                                            transition: all 650ms;
                                            transform: rotate(0deg);
                                            z-index: 2;
                                        }
                                    }
                                    &:hover{
                                        background-color: #021b2b;
                                    }
                                }
                                .nav-links.dropdown{
                                    z-index: 500 !important;
                                    pointer-events:painted !important;
                                    overflow: hidden;
                                    .span-arrow{
                                        &::after{
                                            content: "";
                                            position: absolute;
                                            right: 0;
                                            top: 0;
                                            line-height: 2.8rem;
                                            height: 100%;
                                            width: 40px;
                                            background-color:#fff;
                                            z-index: 1;
                                        }
                                        i.change{
                                            transform: rotate(-180deg);
                                        }
            
                                    }
                                    .dropdown-ul.primary{
                                        height: 0;
                                        transition: .3s ease-in;
                                        transform: translateX(-100%);
                                        .dropdown-link{
                                            &:hover{
                                                background-color: #02233a;
                                            }
                                            width: 100%;
                                            background-color: #021b2b;
                                            padding-left: 15px;
                                            border-top: 1px solid #fff;
                                            transition: .3s;
                                            .span-arrow{
                                                padding:7px 10px;
                                                letter-spacing: 1px;
                                                font-size: 17px;
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;
                                                transition: .5s;
                                                position: relative;
                                                span{
                                                    color: #fff;
                                                }
                                                i{
                                                    position: absolute;
                                                    color: #032b43;
                                                    right: 12px;
                                                    transition: all 650ms;
                                                    transform: rotate(0deg);
                                                    z-index: 2;
                                                }
                                                i.change{
                                                    transform: rotate(-180deg);
                                                }
                                            }
                                        }
                                        .dropdown-link.dropdown{
                                            .dropdown-ul.secondary{
                                                height: 0;
                                                transition: .3s ease-in;
                                                transform: translateX(100%);
                                                margin-left: -15px !important;
                                                .dropdown-link{
                                                    padding-left: 40px;
                                                    background-color: #011624;
                                                }
                                            }
            
                                            .dropdown-ul.secondary.active{
                                                height: 100%;
                                                transform: translateX(0%);
                                            }
                                        }
                                    }
                                    .dropdown-ul.primary.mega{
                                        .top{
                                            //height: 300px;
                                            width: 100%;
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            justify-content: center;
                                            .first,.second{
                                               height: 100%;
                                               width: 100%;
                                               display: flex;
                                               align-items: center;
                                               justify-content: space-between;
                                               .one,.two{
                                                border: 1px solid #fff;
                                                width: 100%;
                                                height: 100%;
                                                ul{
                                                    li{
                                                        padding: 0 15px;
                                                        background-color: #470000;
                                                        display: flex;
                                                        align-items: center;
                                                        color: #fff;
                                                        i{
                                                            color: rgb(255, 255, 255);
                                                        }
                                                        a{
                                                           color: #fff;
                                                        }
                                                        &:hover a{
                                                            text-decoration: underline !important;
                                                        }
                                                    }
                                                }
                                               }
                                            }
                                        }
                                        .bottom{
                                            height: 60px;
                                            width: 100%;
                                            background-color: rgb(117, 0, 55);
                                        }
                                    }
                                    .dropdown-ul.primary.active{
                                        height: 100%;
                                        transform: translateX(0%);
                                    }
            
            
                                }
                            }
                        }
                        .login{
                            width: 100%;
                            background-color: #032b43;
                            height: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px solid #fff;
                            .btn{
                                display: inline-block;
                                padding: .5rem 1.3rem;
                                font-size: .8rem;
                                border: 2px solid #fff;
                                border-radius: 2rem;
                                line-height: 1;
                                margin: 0 .2rem;
                                transition: .3s;
                                text-transform: uppercase;
                                color: #fff;
                                font-weight: bold;
                                &:hover{
                                    color: #032b43;
                                    background-color: #fff;
                                    border: 2px solid #032b43;
                                }
                            }
                                
                            .btn.solid, .btn.transparent:hover{
                                background-color: #fff;
                                color: cyan;
                            }
                            
                            .btn.transparent, .btn.solid:hover{
                                background-color: transparent;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}


    
@mixin sm_header {
    .flex{
        .importantLinks{
            .links{
                margin-left: 10%;
            }
        }
        .slider{
            .slickItem{
                .text{
                    width: 350px;
                    left: 30px;
                    padding: 10px;
                    top: 140px;
                    h2{
                        font-size: 20px;
                    }
                }
            }   
        }
    }
    .sticky{
        .containers{
            .holder{
                .image{
                    left: 5%;
                }
                .header{
                    .text{
                        flex: 0 0 90%;
                        max-width: 90%;
                        padding-left: 17%;
                        text-align: center;
                        h1{
                            display: none;
                        }
                        h2{
                            display: block;
                            font-size: 20px;
                        } 
                    }
                }
            }
        }
    }
}

@mixin md_header {
    .flex{
        .slider{
            .slickItem{
                .text{
                    width: 350px;
                    //top: 315px;
                    top: 110px;
                    left: 50px;
                    h2{
                        color: #fff;
                    }
                    .reds{
                        width: 150px;
                    }
                    p{
                        display: block;
                    }
                }
            }   
        }
    }
    .sticky{
        .containers{
            .holder{
                .image{
                    left: 7%;
                }
                .heighlight{
                    padding: 0 10px 0 70px;
                }
                .header{
                    .text{
                        h2{
                            font-size: 25px;
                        } 
                    }
                }
            }
        }
    }
}
@mixin lg_header {
    .flex{
        .slider{
            z-index: 20;
            order: 2;
            height: 60vh;
            .slickItem{
                img{
                    height: 60vh;
                }
                .text{
                    top: 315px;
                    //top: 110px;
                    left: 200px;
                    h2{
                        color: #fff;
                    }
                }
            }

            .prev,.next{
                font-size: 20px;
                height: 35px;
                width: 35px;
            }
        }
        .importantLinks{
            height: 50px;
            .links{
                margin-left: 10%;
            }
            .event{
                .image{
                    img{
                        height: 100px;
                        width: 100px;
                    }
                }
            }
        }
    }
    .sticky{
        .containers{
            .holder{
                .image{
                    left: 5%;
                    top:0px;
                    bottom: 0;
                    width: 100px;
                    img{
                        height: 110px;
                        width: 100px;
                        display: block;
                        z-index: 5;
                    } 
                }
                .heighlight{
                    padding: 0 30px 0 60px;
                }
                .header{
                    justify-content: center;
                    padding-bottom: 5px;
                    .text{
                        flex: 0 0 100%;
                        max-width: 100%;
                        text-align: center;
                        h2{
                            font-size: 30px;
                        }
                    }

                    .toggles{
                        display: none;
                    }
                }
                .navigation{
                    width: 100%;
                    height: 40px;
                    display: block;
                    z-index: 4;
                    .nav{
                        cursor: pointer;
                        .start{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-around;
                            transition: .75s;
                            height: 40px;
                            background-color: #032b43;
                            .links{
                                padding-left: 10%;
                                flex: unset;
                                width: 70%;
                                flex: 0 0 70%;
                                max-width: 70%;
                                height: 100%;
                                z-index: 4;
                                .nav-ul{
                                    height: 40px;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;
                                    .nav-links{
                                        height: 40px;
                                        border: none;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-around;
                                        background: none;
                                        padding:7px 5px;
                                        a{
                                            letter-spacing: 1px;
                                            font-size: 14px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            transition: .5s;
                                            position: relative;
                                            padding: 0;
                                            span{
                                                color: #fff;
                                            }
                                            i{
                                                position: absolute;
                                                color: #ffffff;
                                                right: 0px;
                                                transition: all 650ms;
                                                transform: rotate(0deg);
                                                z-index: 2;
                                            }
                                        }
                                        &:hover{
                                            background-color: #021b2b;
                                        }
                                    }
                                    .nav-links.dropdown{
                                        overflow: visible;
                                        position: relative;
                                        .span-arrow{
                                            width: 100%;
                                            &::after{
                                                display: none;
                                            }
                                            i.change{
                                                transform: rotate(-180deg);
                                            }
            
                                        }
                                        .dropdown-ul.primary{
                                            position: absolute;
                                            bottom: -15px;
                                            left: 0;
                                            transition: .3s ease-in;
                                            transform: translateX(0%);
                                            z-index: -1;
                                            opacity: 0;
                                            pointer-events: none;
                                            .dropdown-link{
                                                a{
                                                    padding: 0;
                                                    width: 150px;
                                                    padding: 7px 12px;
                                                }
                                                &:hover{
                                                    background-color: #02233a;
                                                }
                                                width: 100%;
                                                background-color: #021b2b;
                                                padding-left: 0px;
                                                border-top: 1px solid #fff;
                                                transition: .3s;
                                                .span-arrow{
                                                    padding:0px;
                                                    width: 150px;
                                                    padding: 7px 12px;
                                                    letter-spacing: 1px;
                                                    font-size: 17px;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: space-between;
                                                    transition: .5s;
                                                    position: relative;
                                                    span{
                                                        color: #fff;
                                                    }
                                                    i{
                                                        position: absolute;
                                                        color: #feffff;
                                                        right: 12px;
                                                        transition: all 650ms;
                                                        transform: rotate(-90deg);
                                                        z-index: 2;
                                                    }
                                                    i.change{
                                                        transform: rotate(-180deg);
                                                    }
                                                }
                                                &:hover > .span-arrow > i{
                                                    transform: rotate(-450deg);
                                                }
                                            }
                                            .dropdown-link.dropdown{
                                                position: relative;
                                                .dropdown-ul.secondary{
                                                    position: absolute;
                                                    top: -100%;
                                                    height: 0;
                                                    transition: .3s ease-in;
                                                    transform: translateX(105%);
                                                    margin-left:0px !important;
                                                    z-index: -1;
                                                    opacity: 0;
                                                    pointer-events: none;
                                                    .dropdown-link{
                                                        padding-left: 0px;
                                                        background-color: #011624;
                                                        a{
                                                            width: 150px;
                                                            padding: 6px 12px; 
                                                        }
                                                    }
                                                }
            
                                                .dropdown-ul.secondary.active{
                                                    height: 100%;
                                                    transform: translateX(105%);
                                                    z-index: -1;
                                                    opacity: 0;
                                                    pointer-events: none;
                                                }
        
                                                &:hover .dropdown-ul.secondary{ 
                                                    height: 100%;
                                                    transform: translateX(100%);
                                                    z-index: 1;
                                                    opacity: 1;
                                                    pointer-events: painted;
                                                }
                                            }
                                        }
                                        .dropdown-ul.primary.active{
                                            height: 100%;
                                            bottom: -36px;
                                            z-index: -1;
                                            opacity: 0;
                                            pointer-events: none;
                                        }
                                        .dropdown-ul.primary.mega{
                                            height: 100% !important;
                                            transform: translateX(-20%) !important;
                                            width: 600px;
                                            .top{
                                                .first,.second{
                                                   .one,.two{
                                                    ul{
                                                        li{
                                                            padding: 5px 15px;
                                                            i{
                                                            }
                                                            a{
                                                               margin-left: 10px;
                                                            }
                                                        }
                                                    }
                                                   }
                                                }
                                            }
                                            .bottom{
                                                height: 60px;
                                                width: 100%;
                                                background-color: rgb(117, 0, 55);
                                            }
                                        }
        
                                        &:hover .span-arrow i{
                                            transform: rotate(-180deg);
                                        }
                                        &:hover .dropdown-ul.primary{
                                            height: 100%;
                                            bottom: -36px;
                                            z-index: 1;
                                            opacity: 1;
                                            pointer-events: painted;
                                        }
                                    }
                                }
                            }
                            .login{
                                height: 40px;
                                width: 10%;
                                flex: 0 0 10%;
                                max-width: 10%;
                                background-color: #032b43;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: none;
                                padding: 0 !important;
                                .btn{
                                    &:hover{
                                        color: #032b43;
                                        background-color: #fff;
                                        border: 2px solid #032b43;
                                    }
                                }
                                    
                                .btn.solid, .btn.transparent:hover{
                                    background-color: #fff;
                                    color: cyan;
                                }
                                
                                .btn.transparent, .btn.solid:hover{
                                    background-color: transparent;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@mixin xl_header {
}


