
    .slider{
        height: 70vh;
        //background-color: yellowgreen;
        width: 100%;
        z-index: 1;
        position: relative;
        img{
            height: 70vh;
            //border: 2px solid #444;
        }

        .slick-prev, .slick-next {
            position: absolute;
            height: 50px;
            width: 50px;
            cursor: pointer;
            //background: red;
            //color: black;
            top: 50%;
            z-index: 3;
            font-size: 30px;
            &::before{
                font-family: "slick";
                font-size: 30px;
                line-height: 1;
                color: rgb(165, 0, 0);
                opacity: 1;
            }
        }

        .slick-prev{
            left: 5%;
        }
        .slick-next{
            right: 5%;
        }
    }
    .sticky{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-right:auto;
        margin-left:auto;
        padding-right:23px;
        padding-left:15px;
        height: 30vh;
        width: 100%;
        z-index: 5;
        background-color: rgb(245, 147, 0);
        transform: translateY(0px);
        transition: transform .3s;
        //border: 3px solid black;
        .data{
            height: 30vh;
            width: 100%;
            background-color: brown;
        }
    }
    .sticky.start{
        //height: 35vh;
        transform: translateY(0px);
    }

    
    @mixin sm_sticky {
        .sticky{
          max-width: 640px;
          padding-right:15px;
        }
    }
    @mixin md_sticky {
        .sticky{
          max-width: 800px;
        }
    }
    @mixin lg_sticky {
        .sticky{
          max-width: 1050px;
        }
    }
    @mixin xl_sticky {
        .sticky{
          max-width: 1240px;
        }
    }
