:root{
    --img_one: url("../image/okk.jpg"); // Black background
 
    --white: rgb(255, 255, 255);
    --black:black;
    --red: #d30015;
    --yellow: #ffd700;
    --blue: rgb(0, 26, 35);
    --pink: rgb(107, 0, 45);
    --pink1: rgb(54, 0, 22);
    --indigo: #5e01f3;
    --pest: #08e6d3;
    --gray: #848ba0;
    --dark-gray: #535353;
    --color1:#5c86fd;
    --color2: #bdaacc;
    --color3: rgb(7, 16, 102);
    --color4: #13203c;
    --color5:rgba(255, 255, 255, 0.15);


    --rgb_one:rgba(0, 0, 0, 0) linear-gradient(to top, rgb(0, 4, 40), rgb(0, 4, 40)) repeat scroll 0% 0% !important;
    --rgb_two:rgba(0, 0, 0, 0) linear-gradient(to top, rgb(0, 4, 40), rgb(0, 4, 40)) repeat scroll 0% 0% !important;

    --zindex_top:3;
    --zindex_mid:2;
    --zindex_low:1;
    --zindex_none:0;

    
}